/**  index.wxss  **/
@import "../../../config/styles/_base.less";
@import "../../../config/styles/_mixins.less";

.page-body {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  align-items: stretch;
  background-color: @bg-color-fade;
  .safe-area-inset-bottom();
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card {
  display: flex;
  background-color: #fff;
  padding: @spacer;
  margin: @spacer;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-between;

  text {
    font-size: x-large;
  }
}
.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
