.oak-qrCodeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .caption {
        color: var(--oak-text-color-secondary);
        font-size: var(--oak-font-size-body-small);
        line-height: var(--oak-line-height-body-small);
    }

    .actions {
        margin-top: 10px;
    }
}
