.oak-qrCodeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &_caption {
        color: var(--oak-text-color-secondary);
        font-size: 12px;
        line-height: 20px;
    }

    &_actions {
        margin-top: 10px;

        &_downloadIcon {
            color: var(--oak-brand-color);
            font-size: 24px;
        }

        &_refreshIcon {
            color: var(--oak-brand-color);
            font-size: 24px;

        }
    }
}