.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200rpx;
}

.container2 {
    min-height: 200rpx;

    .btn-box {
        height: 100rpx;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}