
.label {
    color: var(--oak-text-color-primary);
    font-size: var(--oak-font-size-headline-medium);
    line-height: var(--oak-line-height-headline-medium);
}

.tips {
    color: var(--oak-gray-color-6);
    font-size: var(--oak-font-size-mark-small);
}

.title {
    margin-bottom: 0px;
    margin-top:36px;
}