@import "../../../config/styles/mp/mixins.less";
@import "../../../config//styles/mp/index.less";

// 红点颜色
@red-dot-color: #ff474b;
@component: tab-bar;

.@{component} {
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;

  width: 750rpx;
  height: 106rpx;
  display: flex;
  background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  .safe-area-inset-bottom();
}

.@{component}_border {
  border-top: 1px solid #e6e6e6;
}

.@{component}__item-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
}

.@{component}__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.@{component}__item-image {
  display: block;
  width: 48rpx;
  height: 48rpx;
}

.@{component}__item-text {
  color: #666;
  text-align: center;
  font-family: "PingFang SC";
  font-size: 20rpx;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48rpx;
}

.@{component}__item--selected {
  color: @oak-color-primary;
  text-align: center;
  font-family: "PingFang SC";
  font-size: 20rpx;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48rpx;
}