/**  index.wxss  **/
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    background: var(--oak-bg-color-page);

    .inner {
        display: flex;
        overflow: scroll;
        flex-direction: column;
        margin-top: 50px;
        overflow-x: hidden;
    }

    .bottom {
        background: var(--oak-bg-color-page);
        display: flex;
        width: 100%;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        margin: 0px;
        position: absolute;
        z-index: 100;

        .textareaBox {
            border-top: 1px solid var(--oak-border-color);
            border-bottom: 1px solid var(--oak-border-color);
            display: flex;
            // background: var(--oak-bg-color-container);
            flex-direction: row;
            align-items: center;
            min-height: 45px;

            .plusIcon {
                font-size: 24px;
            }

            .textarea {
                margin: 5px;

                border: none;
                outline: none;
            }

            .textarea:focus {
                border: none;
                box-shadow: none;
            }

            .action {
                display: flex;
                flex-direction: row-reverse;
                margin: 5px;
            }
        }

        .toolbar {
            display: flex;
            flex-direction: row;
            align-items: center;

            padding: 10px;

            .button {
                display: flex;
                flex-direction: column;
                align-items: center;

                margin: 5px;

                .iconBox {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    border-radius: 4px;
                    height: 50px;
                    width: 50px;

                    .icon {
                        font-size: 24px;
                        color: var(--oak-text-color-primary);
                    }
                }

                .text {
                    margin-top: 4px;
                    font-size: 12px;
                    color: var(--oak-text-color-primary);
                }
            }
        }
    }
}


.popup_title {
    height: 50px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;

    .title {
        font-size: 16px;

    }

}