/**  index.wxss  **/
@import "../../../config/styles/_base.less";
@import "../../../config/styles/_mixins.less";

.page-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
}
.item {
  padding: @size-spacing-base;
  border-bottom: 1px solid #e0e0e0;
}

