/**  index.wxss  **/
@import "../../../config/styles/_base.less";
@import "../../../config/styles/_mixins.less";

.page-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  background-color: @primary-color;
  box-sizing: border-box;
  .safe-area-inset-bottom();
}
.qrcode_view {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 @size-spacing-large;
  padding: @size-spacing-large;
  border-radius: 8px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}
.icon-view {
  position: absolute;
  right: 0;
      width: 50rpx;
      height: 50rpx;
      display: flex;
    align-items: center;
    justify-content: center;
      background: @background-color-base;
      border-radius: 50%;
}
.icon-view2 {
      width: 100rpx;
      height: 100rpx;
      display: flex;
    align-items: center;
    justify-content: center;
      border-radius: 50%;
}
.image {
  width: 400rpx;
  height: 400rpx;
  margin: @size-spacing-large 0rpx;
  background-color: @background-color-base;
}
.row {
  position: relative;
  margin-bottom: @size-spacing-large;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.text {
  color: @text-color;
  font-size: 36rpx;
}
.tip {
  color: @primary-color;
  font-size: 30rpx;
}
.relation {
  font-size: 60rpx;
  font-weight: bolder;
}
