/**  index.wxss  **/
@import "../../../config/styles/_base.less";
@import "../../../config/styles/_mixins.less";

page {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  align-items: stretch;
  padding: 0;
  .safe-area-inset-bottom();
}

.primary-bg {
  width: 100%;
  height: 400rpx;
  background-color: @default-color;
}
.img {
  width: 180rpx;
  height: 180rpx;
  margin: 0 auto;
  border-radius: 50%;
  background-color: @background-color-base;
}
.row-end {
  display: flex;
  justify-content: flex-end;
}
.white-bg {
  display: flex;
  flex-direction: column;
  padding: @size-spacing-base;
}
.content {
  display: flex;
  flex-direction: column;
  transform: translateY(-110rpx);
}
.name {
  margin: @size-spacing-small auto;
  font-size: @size-font-large;
  color: @title-color;
}
.mobile {
  margin: 0 auto;
  font-size: @size-font-base;
  color: @text-color;
}
.tag-view {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: @size-spacing-small;
}
.tag {
  margin: 2rpx;
}
.btn-view {
  display: flex;
  justify-content: center;
}
.check-view {
  width: 700rpx;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #fff;
}
.col {
  display: flex;
  flex-direction: column;
  flex: 1;
}
