.box {
    &-main {
        height: 800px;
        width: 600px;
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: var(--oak-bg-color-container);
        margin-top: 200px;
        margin-bottom: 200px;
    }

    // &-wrap {
    //     width: 400px;
    //     display: block;
    //     background: var(--oak-bg-color-container);
    //     border-radius: 4px;
    //     overflow: hidden;
    //     box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 0 4px rgb(0 0 0 / 8%);
    // }

    // &-hd {
    //     padding: 32px;
    // }

    // &-bd {
    //     height: 310px;
    // }

}