
/**  index.wxss  **/
@import "../../../config/styles/mp/index.less";
@import "../../../config/styles/mp/mixins.less";

.page-body {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: @oak-bg-color-page;
  .safe-area-inset-bottom();
}

