@import "../../config/styles/_base.less";

.l-panel {
  background-color: #fff;
  border-top-left-radius: 30rpx;
  border-top-right-radius: 30rpx;
  padding-top: 30rpx;
  padding-bottom: 30rpx;

  &-titleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px 10px 25rpx;

    &-title {
      font-size: @size-font-base;
      line-height: 1;
      color: @title-color;
    }
  }
}

.top {
  margin-top: 20rpx;
}
