@import "../../../styles/base.less";

.default-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.default-item {
  width: 200rpx;
  height: 300rpx;
  border: 1ch solid black;
}

.insert-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}