.container {
    width: 100%;

    .typeBar {
        display: flex;
        flex-direction: row;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background: #F6F7F8;
            cursor: pointer;
        }

        .item:hover {
            color: #1677FF;
        }
    }

    .media {
        width: 100%;
        height: 200px;
        border: 1px solid #dbdbdb;
        padding: 17px 20px;

        .imageMedia {
            display: flex;
            flex-direction: row;
            width: 400px;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        .videoMedia {
            display: flex;
            flex-direction: row;
            width: 400px;
        }

        .voiceMedia {
            display: flex;
            flex-direction: row;
            width: 400px;
        }

        .addMedia {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 100%;
            border: 1px dotted #dbdbdb;
            cursor: pointer;
            color: #7e8081;
        }
        .addMedia:hover {
            border: 1px dotted #888888;
        }
    }

    .editor {
        border: 1px solid #dbdbdb;
    }
}
.buttonGroup {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36px;
    min-height: 36px;
    max-height: 72px;
    border-radius: 18px;
    background: #fcfcfc;
    font-size: 18px;
    padding: 3px;
    box-shadow: 0 1px 6px #e4e8eb;
    .buttonItem {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
    }
    .buttonItem:hover {
        background: #EDEEEF;
    }
}