@import "../../../../config/styles/mp/index.less";
@import "../../../../config/styles/mp/mixins.less";

page {
  height: 100%;
  background-color: @oak-bg-color-page;
}

.page-body {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  align-items: stretch;
  padding: 0;
  background-color: @oak-bg-color-container;
  .safe-area-inset-bottom();
}

.search-bar {
  padding: 10rpx;
  z-index: 1;
  margin-bottom: 20rpx;
}