
.panel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20rpx 10rpx;
}

.more {
    white-space: nowrap;
    font-size: 28rpx;
    color: #000;
    padding: 10rpx;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    gap: 16rpx;
}