@import "../../../config/styles/mp/mixins.less";
.container {
    padding-top: 100rpx;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f7f8fb;
    min-height: 100vh;
    .safe-area-inset-bottom()
}
.stickyView {
    box-sizing: border-box;
    padding: 20rpx;
    border-bottom: 1px solid rgba(200, 200, 200, 0.3);
    position: fixed;
    top: 0;
    width: 750rpx;
    display: flex;
    align-items: center;
    background-color: #fff;
    z-index: 999;
}
.addText {
    padding-left: 20rpx;
    color: var(--oak-color-primary);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    margin: 20rpx;
    margin-bottom: 0rpx;
    border-radius: 20rpx;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    .title-view {
        padding: 32rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            display: flex;
            align-items: center;
            font-weight: 600;
        }
    }
    .card-content {
        padding: 32rpx;
        padding-top: 0rpx;
        display: flex;
        flex-direction: column;
    }
    .card-op {
        border-top: 0.8px solid rgba(200, 200, 200, 0.2);
        height: 80rpx;
        display: flex;
        align-items: center;
    }
    .card-btn {
        color: var(--oak-color-primary);
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    }
    .text-view {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .label {
            color: #888;
        }
    }
    .state-view {
        display: flex;
        align-items: center;
    }
    .badge {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--oak-color-success);
      margin-right: 5px;
    }
    .success {
        background-color: var(--oak-color-success);
    }
    .failed {
        background-color: var(--oak-color-error);
    }
    .inCharge {
        background-color: var(--oak-color-primary);
    }
    .init {
        background-color: var(--oak-color-warning);
    }
}
[class='text-view']:not(:last-child) {
    margin-bottom: 16rpx;
}