@import "../../../styles/base.less";

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item {
  min-width: 25%;
  padding: 20rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-icon {
  padding: @size-spacing-large;
  border-radius: 50%;
  margin-bottom: @size-spacing-small;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-label {
  color: @text-color;
  font-size: 24rpx;
}

.drawer-container {
  height: 500rpx;
  width: 100%;
  padding: @size-spacing-large;
  box-sizing: border-box;
  border-top-left-radius: @size-spacing-large;
  border-top-right-radius: @size-spacing-large;
  background: @background-color-base;
  bottom: 0px;
  z-index: 7;
}