.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--oak-bg-color-container);
  }
  
  .icon {
    font-size: 72px;
    color: var(--oak-text-color-secondary);
  }
  
  .brand_icon {
    font-size: 72px;
    color: var(--oak-color-primary);
  }