
.btn-popup {
  position: fixed !important;
  bottom: 10rpx;
  // bottom: constant(safe-area-inset-bottom) !important;
  // /* 兼容 iOS < 11.2 */
  // bottom: env(safe-area-inset-bottom) !important;
  right: 45%;
}

.block {
  width: 176rpx;
  height: 176rpx;
  background: #fff;
  color: #333;
  display: flex;
}

.block--bottom {
  width: 100vw;
  height: 35vh;
  border-top-left-radius: 16rpx;
  border-top-right-radius: 16rpx;
}

.btn-box {
  display: flex;
  flex-direction: row;
  padding: 32rpx;
  flex-wrap: wrap;
}
.btn-item {
  margin-top: 32rpx;
  margin-right: 32rpx;
}