/**  index.wxss  **/
@import "../../../../config/styles/_base.less";
@import "../../../../config/styles/_mixins.less";

.page-body {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: @bg-color-fade;
  box-sizing: border-box;
  .safe-area-inset-bottom();
}
.web-mobile-container {
  display: flex;
  flex-direction: column;
  padding: @spacer;
}
.btn-view {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.pannel-item {
  display: flex;
  align-items: center;
  height: 96rpx;
  padding: 0 32rpx;
  font-size: 32rpx;
  background-color: #fff;
}

.pannel-label {
  width: 160rpx;
  margin-right: 32rpx;
}

.pannel-text {
  flex: 1;
  opacity: 0.9;
}