.container {
  padding: 30px 32px;
  background: var(--oak-bg-color-container);
}


.btnContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  padding-bottom: 12px;
}