/**  index.wxss  **/
@import "../../../styles/base.less";
@import "../../../styles/cpn.less";

.page-body {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: @background-color-base;
}
