@import '../../../../config/styles/mp/index.less';
@import '../../../../config/styles/mp/mixins.less';

.container {
    height: 100%;
}

.info-title {
    margin-top: 34rpx;
    margin-left: 14rpx;
    margin-bottom: 14rpx;
    color: @oak-text-color-secondary;
}

.info-body {
    margin-left: 20rpx;
    margin-right: 20rpx;
    background-color: @oak-bg-color-container;
    border-radius: 14rpx;
    padding: 8rpx;
}

.single-row-value {
    margin-left: 20rpx;
    margin-right: 20rpx;
    background-color: @oak-bg-color-container;
    border-radius: 14rpx;
    padding: 28rpx;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    color: var(--oak-color-primary);
}
