.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 8px;

    .singleRowValue {
        font-size: x-large;
        font-weight: bolder;
        color: var(--oak-color-primary);
        text-align: center;
    }
}