.container {
    width: 100%;
    background: var(--oak-bg-color-container);
    padding: 10px;
    .warn {
        font-size: 16px;
        line-height: 30px;
    }
}

.tabs {
    background: #F5F5F5;
    padding: 10px;

    .conditionalMenu {
        display: flex;
        flex-direction: row;

        .tagList {
            width: 20%;
            margin-right: 20px;
        }
    
        .tagHelp {
            background: var(--oak-bg-color-container);
            padding: 10px;
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    } 
}

