@import "../../../styles/base.less";

.default-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10rpx;
}

.default-item {
  width: 160rpx;
  height: 220rpx;
  border: 1px solid black;
  border-color: @primary-color;
}

.insert-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}