@import "../../../styles/base.less";

.default-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20rpx;
  padding-bottom: 20rpx;
}

.default-item {
  width: 160rpx;
  height: 220rpx;
  margin-left: 20rpx;
  position: relative;
}

.insert-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-selected {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color:#fff;filter:Alpha(Opacity=50);opacity:0.5;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}