/**  index.wxss  **/
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--oak-bg-color-page);
    height: 100%;
}

.noData {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: center;
}