.container {
    background: var(--oak-bg-color-page);
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

.list {
    margin-top: 10px;
    margin-bottom: 10px;

    .avatar {
        width: 42px;
        height: 42px;
        border-radius: 21px;
    }
}
