.oak-typography {
    overflow-wrap: break-word;

    &-link {
        color: var(--td-brand-color);
        outline: none;
        cursor: pointer;
        transition: color .3s;
        text-decoration: none;
        background-color: transparent;
    }

    &-italic {
        font-style: italic;
    }

    &-strong {
        font-weight: 600;
    }

    &-underline {
        text-decoration: underline;
    }

    &-delete {
        text-decoration: line-through;
    }

    &-code {
        margin: 0 0.2em;
        padding: 0.2em 0.4em 0.1em;
        font-size: 85%;
        background: rgba(150, 150, 150, .1);
        border: 1px solid rgba(100, 100, 100, .2);
        border-radius: 3px;
    }

    &-keyboard {
        margin: 0 0.2em;
        padding: 0.15em 0.4em 0.1em;
        font-size: 90%;
        background: rgba(150, 150, 150, .06);
        border: 1px solid rgba(100, 100, 100, .2);
        border-bottom-width: 2px;
        border-radius: 3px;
    }

    &-mark {
        padding: 0;
        background-color: #ffe58f;
    }

    &-disabled {
        cursor: not-allowed;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &-link {
    &-small {
            font-size: var(--td-font-size-link-small);
            line-height: var(--td-line-height-link-small);
        }
    
        &-medium {
            font-size: var(--td-font-size-link-medium);
            line-height: var(--td-line-height-link-medium);
        }
    
        &-large {
            font-size: var(--td-font-size-link-large);
            line-height: var(--td-line-height-link-large);
        }
    }

    &-mark {
    &-small {
            font-size: var(--td-font-size-mark-small);
            line-height: var(--td-line-height-mark-small);
        }
    
        &-medium {
            font-size: var(--td-font-size-mark-medium);
            line-height: var(--td-line-height-mark-medium);
        }
    
        &-large {
            font-size: var(--td-font-size-body-large);
            line-height: var(--td-line-height-body-large);
        }
    }

    &-body {
        &-small {
                font-size: var(--td-font-size-body-small);
                line-height: var(--td-line-height-body-small);
            }
        
            &-medium {
                font-size: var(--td-font-size-body-medium);
                line-height: var(--td-line-height-body-medium);
            }
        
            &-large {
                font-size: var(--td-font-size-body-large);
                line-height: var(--td-line-height-body-large);
            }
    }

    &-title {
    &-small {
            font-size: var(--td-font-size-title-small);
            line-height: var(--td-line-height-title-small);
        }
    
        &-medium {
            font-size: var(--td-font-size-title-medium);
            line-height: var(--td-line-height-title-medium);
        }
    
        &-large {
            font-size: var(--td-font-size-title-large);
            line-height: var(--td-line-height-title-large);
        }
    }

    &-headline {
        &-small {
                font-size: var(--td-font-size-headline-small);
                line-height: var(--td-line-height-headline-small);
            }
        
            &-medium {
                font-size: var(--td-font-size-headline-medium);
                line-height: var(--td-line-height-headline-medium);
            }
        
            &-large {
                font-size: var(--td-font-size-headline-large);
                line-height: var(--td-line-height-headline-large);
            }
    }

    &-display {
        &-small {
                font-size: 40px;
                line-height: 48px;
            }
        
            &-medium {
                font-size: var(--td-font-size-display-medium);
                line-height: var(--td-line-height-display-medium);
            }
        
            &-large {
                font-size: var(--td-font-size-display-large);
                line-height: var(--td-line-height-display-large);
            }
    }

    &-color {
        &-default {
            color: var(--td-text-color-primary);
        }

        &-secondary {
            color: var(--td-text-color-secondary);
        }

        &-primary {
            color: var(--td-brand-color);
        }

        &-danger {
            color: var(--td-error-color);
        }

        &-warning {
            color: var(--td-warning-color);
        }

        &-success {
            color: var(--td-success-color);
        }

        &-link {
            color: var(--td-text-color-link);
        }

        &-placeholder {
            color: var(--td-text-color-placeholder);
        }

        &-disabled {
            color: var(--td-text-color-disabled);
        }

        &-anti {
            color: var(--td-text-color-anti);
        }

        &-brand {
            color: var(--td-text-color-brand);
        }
    }
}