@import './iconfont.less';
@import '../../config/styles/mp/index.less';

.oak-icon__primary {
    color: @oak-color-primary;
}

.oak-icon__error {
    color: @oak-color-error;
}

.oak-icon__warning {
    color: @oak-color-warning;
}

.oak-icon__success {
    color: @oak-color-success;
}

.oak-icon__info {
    color: @oak-color-info;
}