
.btn-popup {
  position: fixed !important;
  // bottom: constant(safe-area-inset-bottom) !important;
  // /* 兼容 iOS < 11.2 */
  // bottom: env(safe-area-inset-bottom) !important;
  // right: 45%;

  position: 'fixed';
  bottom: 40rpx;
  right: calc(100% / 2 - 8px);
  z-index: 1;
  width: 16px;
  height: 16px;
  text-align: center;
}

.block {
  width: 176rpx;
  height: 176rpx;
  background: #fff;
  color: #333;
  display: flex;
}

.block--bottom {
  width: 100%;
  height: 35vh;
  border-top-left-radius: 16rpx;
  border-top-right-radius: 16rpx;
}

.btn-box {
  display: flex;
  flex-direction: row;
  padding: 32rpx;
  flex-wrap: wrap;
}
.btn-item {
  margin-right: 32rpx;
}
.btn-item-label {  
  min-width: 40rpx;
}