/**  index.wxss  **/

.page-body {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: @background-color-base;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upper-container {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
