/**  index.wxss  **/
@import "../../../styles/base.less";
@import "../../../styles/cpn.less";

.page-body {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: @background-color-base;
}

.btn-box {
  display: flex;
  margin: @size-spacing-small 0rpx;
  padding: @size-spacing-small;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upper-container {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
