/**  index.wxss  **/
@import "../../../config/styles/_base.less";
@import "../../../config/styles/_mixins.less";

page {
  height: 100%;
  background-color: @bg-color-fade;
}

.container {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  align-items: stretch;
  padding: 0;
  .safe-area-inset-bottom();
}

.search-bar {
  background-color: #fff;
  padding-top: 10rpx;
  padding-bottom: 10rpx;
  z-index: 1;
}

.card-view {
  margin: @spacer;
  margin-bottom: 0rpx;
  padding: @spacer;
  border-radius: 4rpx;
  display: flex;
  align-items: center;
  box-shadow: 0 4rpx 20rpx 0 rgba(212, 217, 223, 0.5);
  background-color: #fff;
}

.row {
  margin-left: @spacer;
  display: flex;
  flex: 1;
  align-items: center;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.nickname {
  margin-bottom: 8rpx;
  font-size: @font-size-base;
}
.mobile {
  font-size: @font-size-base;
  color: @text-level-3-color;
}
.avatar {
  height: 140rpx;
  width: 140rpx;
  border-radius: 50%;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .relation-item {
    display: flex;
    padding: 10rpx;
    flex-direction: row;
    font-size: 28rpx;
    color: @text-level-3-color;
  }
}

.btn-container {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  .btn {
    flex: 1;
  }
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
}
