.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .title {
        font-size: 16px;
    }
    .upload {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 20px 0 0 0;
        .help {
            color: #B1B2B3;
            margin-right: 10px;
        }
    }
    .list {
        margin-top: 20px;
    }
}