/**  index.wxss  **/
@import "../../../config/_base.less";

page {
  height: 100%;
}

.page-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  // background-color: slategrey;
}
