/**  index.wxss  **/
@import "../../../config/styles/mp/index.less";
@import "../../../config/styles/mp/mixins.less";


page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
