
.label {
    color: var(--oak-text-color-primary);
    font-size: 28px;
    line-height: 26px;
}

.tips {
    color: var(--oak-text-color-placeholder);
    font-size: 12px;
}

.title {
    margin-bottom: 0px;
    margin-top:36px;
}