@import './iconfont.less';

.oak-icon__primary {
    color: var(--oak-color-primary);
}

.oak-icon__error {
    color: var(--oak-color-error);
}

.oak-icon__warning {
    color: var(--oak-color-warning);
}

.oak-icon__success {
    color: var(--oak-color-success);
}

.oak-icon__info {
    color: var(--oak-color-info);
}