/**  index.wxss  **/
@import "../../../styles/base.less";
@import "../../../styles/mixins.less";

.page-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  background-color: @background-color-base;
  box-sizing: border-box;
  .safe-area-inset-bottom();
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.circle-view {
  margin-top: @size-spacing-base;
  padding: @size-spacing-base;
  width: 200rpx;
  height: 200rpx;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.text {
  font-size: @size-font-large;
  color: @text-color;
}
.relation {
  font-size: @size-font-large;
}
.btn-view {
  display: flex;
  justify-content: center;
  align-items: center;
}
