// Color
@primary-color : #2d8cf0;

@info-color : #2db7f5;

@success-color : #19be6b;

@warning-color : #ff9900;

@error-color : #ed3f14;

@link-color : #2D8cF0;

@title-color : #1c2438;

@text-color : #495060;

@background-color-base : #f7f7f7;  // base

// Border color
@border-color-base : #dddee1;  // outside

@border-color-split : #e9eaec;  // inside

// Size
@size-font-base : 28rpx;

@size-font-small : 24rpx;

@size-font-large : 32rpx;

//padding
@size-spacing-small: 16rpx;
@size-spacing-base: 24rpx;
@size-spacing-large: 32rpx;

// Button
@btn-font-weight : normal;

@btn-border-radius : 4px;
@btn-border-radius-small: 3px;

@btn-group-border : shade(@primary-color, 5%);

@btn-disable-color : #bbbec4;

@btn-disable-bg : @background-color-base;

@btn-disable-border : @border-color-base;

@btn-default-color : @text-color;

@btn-default-bg : @background-color-base;

@btn-default-border : @border-color-base;

@btn-primary-color : #fff;

@btn-primary-bg : @primary-color;

@btn-ghost-color : @text-color;

@btn-ghost-bg : transparent;

@btn-ghost-border : @border-color-base;

@btn-size-large : 96rpx;

@btn-size-base : 88rpx;

@btn-size-small : 80rpx;

@border-radius-base : 4px;

@border-radius-small : 2px;

@btn-circle-size-large : 96rpx;

@btn-circle-size : 88rpx;

@btn-circle-size-small : 80rpx;
