/**  index.wxss  **/
@import "../../../styles/base.less";
@import "../../../styles/mixins.less";

.page-body {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: @background-color-base;
  box-sizing: border-box;
  .safe-area-inset-bottom();
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12rpx;
}

.upper-container {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
