/**  index.wxss  **/
@import "../../../config/styles/_base.less";
@import "../../../config/styles/_mixins.less";

.page-body {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: @background-color-base;
  box-sizing: border-box;
  .safe-area-inset-bottom();
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: @size-spacing-base;
  padding: @size-spacing-base;
  margin-bottom: 0rpx;
  background-color: #fff;
}

.phone {
  size: @size-font-base;
  margin-left: @size-spacing-base;
}
.area {
  margin-left: @size-spacing-base;
  color: @text-color;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn-view {
  display: flex;
  justify-content: center;
  align-items: center;
}
