/**  index.wxss  **/
@import "../../../config/styles/_base.less";
@import "../../../config/styles/_mixins.less";

.page-body {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: @background-color-base;
  box-sizing: border-box;
  .safe-area-inset-bottom();
}

.user-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.user-info {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 22rpx;
  flex: 1;
}

.cell {
  display: flex;
  align-items: center;
  padding: @size-spacing-base;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: @size-spacing-small;
}

.avatar {
  height: 140rpx;
  width: 140rpx;
  border-radius: 50%;
}
.img-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140rpx;
  width: 140rpx;
  border-radius: 50%;
  background-color: @background-color-base;
}

.nickname {
  margin-right: @size-spacing-base;
  font-size: @size-font-large;
}

.name {
  font-size: @size-font-base;
  color: @text-color;
  margin-bottom: 4rpx;
}

.mobile {
  font-size: @size-font-base;
  color: @text-color;
}
.btn-view {
  display: flex;
  justify-content: center;
  align-items: center;
}
