/**  index.wxss  **/
@import "../../../config/styles/_mixins.less";

.page-body {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  .safe-area-inset-bottom();
}

.t-tabs {
  &__nav {
    width: 100%;
  }
  &__nav-wrap {
    width: 100%;
  }
  &__nav-item {
    width: 50%;
    justify-content: center;
  }
}

.tabPanel {
  padding-top: 16px;
}