@import "../../config/styles/mp/index.less";
@import "../../config/styles/mp/mixins.less";

.page-body {
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: @oak-bg-color-page;
}

.cell {
    background-color: #fff;
    padding: 0 20rpx;
}