

.container {
  background: var(--oak-bg-color-container);
  // box-shadow: 0 2px 3px #0000001a;
  // border-radius: 3px;
  // padding: 30px 32px;
}


.tip {
  font-size: var(--oak-font-size-mark-small);
  color: var(--oak-warning-color);
}