@import "./iconfont.less";
.editor-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.editor-tab-bar {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 20rpx;
    padding: 20rpx;
    border-top: 1px solid rgba(200, 200, 200, 0.2);
    border-bottom: 1px solid rgba(200, 200, 200, 0.2);
}
.tool-view {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tool-view>text {
    color: rgb(90, 90, 90);
}

