/**  index.wxss  **/
@import "../../../styles/base.less";

.page-body {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: @background-color-base;
}

.avatar {
  font-size: 128rpx;
  color: @text-color;
  height: 140rpx;
  width: 140rpx;
  border-radius: 14rpx;
}

.nickname {
  font-size: @size-font-large;
  font-weight: bold;
}

.name {
  display: flex;
  align-items: center;
  font-size: @size-font-base;
}

.mobile {
  display: flex;
  align-items: center;
  font-size: @size-font-small;
}
