/**  index.wxss  **/
@import "../../config/styles/_base.less";
@import "../../config/styles/_mixins.less";

page {
  height: 100%;
  background-color: @background-color-base;
}

.container {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  align-items: stretch;
  padding: 0;
  .safe-area-inset-bottom();
}

.search-bar {
  background-color: #fff;
  padding-top: 10rpx;
  padding-bottom: 10rpx;
  z-index: 1;
}

.card-view {
  margin-top: @size-spacing-small !important;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 28rpx;
  color: @text-color;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  margin-right: 8rpx;
}
