@oak-color-primary: #0052d9;
@oak-color-error: #e34d59;
@oak-color-warning: #ed7b2f;
@oak-color-success: #00a870;
@oak-color-info: #d4e3fc;
 

@oak-bg-color-page: #eee;
@oak-bg-color-container: #ffffff;
@oak-bg-color-component: #e7e7e7;


@oak-text-color-primary: rgba(0, 0, 0, 0.9);
@oak-text-color-secondary: rgba(0, 0, 0, 0.6);
@oak-text-color-placeholder: rgba(0, 0, 0, 0.4);
@oak-text-color-disabled: rgba(0, 0, 0, 0.26);

@oak-border-color: #e7e7e7;

@oak-radius-small: 4rpx;
@oak-radius-default: 6rpx;
@oak-radius-medium: 12rpx;
@oak-radius-large: 18rpx;
@oak-radius-extraLarge: 24rpx;
@oak-radius-circle: 50%;