@import "../../../../config/styles/mp/index.less";
@import "../../../../config/styles/mp/mixins.less";


.body {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  align-items: stretch;

}

.search-bar {
  padding: 10rpx;
  z-index: 1;
  background-color: @oak-bg-color-container;
}