.container {
  background: var(--oak-bg-color-container);
  box-shadow: 0 2px 3px #0000001a;
  border-radius: 3px;
  padding: 30px 32px;
  .rightContent {
    display: flex;
    flex-direction: column;

    .article {
        display: flex;
        flex-direction: row;
        flex: 1;
    
        .menu {
          display: flex;
        }
    
        .editor {
          display: flex;
          flex: 1;
          margin-left: 20px;
        }
    
        
      }
      .pagination {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
  }
  
}


.space {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tree {
  :global {
     .ant-tree-title {
        display: flex;
        flex: 1;
     }
  }
}

.articleItem {
    display: flex;
    flex-direction: row;

    .icon {
        display: flex;
        margin-right: 5px;
        align-items: center; 
        
        .dot {
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background: #1677ff;
        }
    }

    .label {
        display: flex;
        align-items: center;
    }
}
.myMenu {
    :global {
        .ant-menu-submenu-title {
            display: flex;
            flex-direction: row-reverse;
            margin-block: 0;        
        }
        .ant-menu-submenu-arrow {
           position: unset;
        }
        .ant-menu-submenu-title > .ant-menu-submenu-arrow::before {
            transform: rotate(135deg) translateX(2.5px);
        }
        .ant-menu-submenu-arrow::after {
            transform: rotate(45deg) translatex(-2.5px);
        }
        .ant-menu-submenu-open.ant-menu-submenu-inline>.ant-menu-submenu-title>.ant-menu-submenu-arrow::before {
            transform: rotate(225deg) translatex(2.5px);
        }
        .ant-menu-submenu-open.ant-menu-submenu-inline>.ant-menu-submenu-title>.ant-menu-submenu-arrow::after {
            transform: rotate(135deg) translatex(-2.5px);
        }
    }
}
