.mobileContainer {
    background: var(--td-bg-color-container);
}

.container {
    background: var(--td-bg-color-container);
    box-shadow: 0 2px 3px #0000001a;
    border-radius: 3px;
    padding: 30px 32px;
}