.container {
  background: var(--oak-bg-color-container);
  box-shadow: 0 2px 3px #0000001a;
  border-radius: 3px;
  padding: 30px 32px;
  min-height: 450px;

  .article {
    display: flex;
    flex-direction: row;

    .menu {
      display: flex;
    }

    .editor {
      display: flex;
      flex: 1;
      margin-left: 20px;

      .editorInner {
          display: flex;
            flex-direction: column;
              flex: 1;
      }
    }
  }
}


.space {
  margin-bottom: 15px;
}

.tree {
  :global {
     .ant-tree-title {
        display: flex;
        flex: 1;
     }
  }
}